.env
*.env
node_modules*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.vite/
.pnp.*
package-lock.json
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
.git
.gitignore
*.MD

stats.html
tsconfig.tsbuildinfo
__mock*__.ts
